{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPNAdmin</title>
{{end}}

{{define "body"}}

  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green">
          <i class="ion ion-network"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">
            Clients count: <span class="info-box-number2">{{ .ovstats.NClients }}</span>
          </span>
          <span class="info-box-text">
            In: <span class="info-box-number2">{{ printmb .ovstats.BytesIn }} MB</span>
          </span>
          <span class="info-box-text">
            Out: <span class="info-box-number2">{{ printmb .ovstats.BytesOut }} MB </span>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua">
          <i class="ion ion-ios-pulse"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">Load Average:</span>
          <span class="info-box-number">
            {{ .sysinfo.LoadAvg.One }},
            {{ .sysinfo.LoadAvg.Five }},
            {{ .sysinfo.LoadAvg.Fifteen }}<br/>
            </span>
          <span class="info-box-text">
            CPU count: <span class="info-box-number2">
              {{ .sysinfo.CPUList.List | len }}
            </span>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-orange">
          <i class="ion ion-arrow-graph-up-right"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">OS uptime:</span>
          <span class="info-box-number">{{ .sysinfo.UptimeS }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow">
          <i class="fa ion-ios-clock-outline"></i>
        </span>
        <div class="info-box-content">
          <span class="info-box-text">
            Server time:
          </span>
          <span class="info-box-number">
              {{ dateformat .sysinfo.CurrentTime "2006-01-02 15:04:05"}}
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->


  </div>
<!-- /.row -->

<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Memory usage</h3>
  </div>
  <div class="box-body">
    <div class="col-md-6">
      <div class="progress-group">
        <span class="progress-text">Memory</span>
        <span class="progress-number">
          <b>{{ printmb .sysinfo.Memory.Used }}</b>
          /
          {{ printmb .sysinfo.Memory.Total }} MB
          - {{percent .sysinfo.Memory.Used .sysinfo.Memory.Total}}%
        </span>
        <div class="progress sm">
          <div class="progress-bar progress-bar-aqua"
            style="width: {{percent .sysinfo.Memory.Used .sysinfo.Memory.Total}}%"></div>
        </div>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-md-6">
      <div class="progress-group">
        <span class="progress-text">Swap</span>
        <span class="progress-number">
          <b>{{ printmb .sysinfo.Swap.Used }}</b>
          /
          {{ printmb .sysinfo.Swap.Total }} MB
          - {{percent .sysinfo.Swap.Used .sysinfo.Swap.Total}}%
        </span>

        <div class="progress sm">
          <div class="progress-bar progress-bar-red"
            style="width: {{percent .sysinfo.Swap.Used .sysinfo.Swap.Total}}%"></div>
        </div>
      </div>
    </div>
    <!-- /.col -->  </div>
  <!-- /.box-body -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Connected clients</h3>

      </div>
      <!-- /.box-header -->

      <div class="box-body">
        {{if .ovstatus}}
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
            <tr>
              <th>Common Name</th>
              <th>Real Address</th>
              <th>Virtual Address</th>
              <th>KB Received</th>
              <th>KB Sent</th>
              <th>Connected Since</th>
              <th>Username</th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            {{range .ovstatus.ClientList}}
            <tr>
                <td>{{.CommonName}}</td>
                <td>{{.RealAddress}}</td>
                <td>
                  <span class="label label-success">{{.VirtualAddress}}</span>
                  <button class="button-transparent button-copy" data-clipboard-text="{{.VirtualAddress}}">
                      <img class="clippy" src="static/img/clippy.svg" width="13" alt="Copy to clipboard">
                  </button>
                </td>
                <td align="right" style="padding-right:20px">
                    {{printkb .BytesReceived}}
                </td>
                <td align="right" style="padding-right:20px">
                    {{printkb .BytesSent}}
                </td>
                <td>{{.ConnectedSince}}</td>
                <td>
                  {{if eq .Username "UNDEF"}}
                    -
                  {{else}}
                    {{.Username}}
                  {{end}}
                </td>
                <td>
                  <a href="javascript:$.MyAPP.Disconnect('{{.CommonName}}')"
                    class="btn btn-xs btn-danger btn-flat"
                    title="Disconnect">X</a>
                </td>
            </tr>
            {{end}}

            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      {{else}}
          Fix your configuration
      {{end}}
      </div>
      <div class="box-footer clearfix">
      </div>
      <!--
      <div class="box-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
      </div>
    -->
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
</div>
<!-- /.col -->
<!-- /.box-body -->

<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-white">
        <i class="ion ion-ios-information-empty"></i>
      </span>
      <div class="info-box-content">
      </span>
      <span class="info-box-text">
        OpenVPN version: <span class="info-box-number3">{{ .ovversion }}
      </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-white">
        <i class="ion ion-ios-gear"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Operating system:</span>
        <span class="info-box-number3">{{ .sysinfo.Os }}</span>
        <span class="info-box-text">Architecture: </span>
        <span class="info-box-number3">{{ .sysinfo.Arch }} </span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>
  <!-- /.col -->
</div>
<!-- /.row -->

{{end}}

