{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Settings</title>
{{end}}

{{define "body"}}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Edit settings</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  {{template "common/alert.html" .}}
  <form role="form" action="{{urlfor "SettingsController.Login"}}" method="post">
    <div class="box-body">
      <div class="form-group">
        <label for="name">Profile</label>
        <input type="text" class="form-control" id="Profile" disabled
          value=" {{ .Settings.Profile }} ">
      </div>

      <div class="form-group">
        <label for="name">Management interface address</label>
        <input type="text" class="form-control" id="MIAddress" name="MIAddress" placeholder="Enter address"
          value="{{ .Settings.MIAddress }}">
      </div>

      <div class="form-group">
        <label for="name">Management interface network</label>
        <input type="text" class="form-control" id="MINetwork" name="MINetwork" placeholder="Enter network name"
          value="{{ .Settings.MINetwork }}">
      </div>

      <div class="form-group">
        <label for="name">Server Address (external)</label>
        <input type="text" class="form-control" id="ServerAddress" name="ServerAddress" placeholder="Enter server address"
          value="{{ .Settings.ServerAddress }}">
      </div>

      <div class="form-group">
        <label for="name">ConfigPath</label>
        <input type="text" class="form-control" id="OVConfigPath" name="OVConfigPath" placeholder="Enter config path"
          value="{{ .Settings.OVConfigPath }}">
      </div>

      {{ .xsrfdata }}
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Save and apply</button>
    </div>
  </form>

</div>
<!-- /.box -->
{{end}}