
<!-- /.content -->
</div>
<!-- /.container -->
</div>
<!-- /.content-wrapper -->
<!--
<footer class="main-footer">
  <div class="container">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.1.0
    </div>
    <strong>Copyright message?<strong>
    reserved.
  </div>
-->
  <!-- /.container -->
<!--
</footer>
</div>
-->
<script src="/static/js/jquery-2.2.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/clipboard.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/custom.js"></script>
</body>
</html>
