<!-- User Account Menu -->
<li class="dropdown user user-menu {{if compare .RouterPattern "/profile"}}active{{end}}">
  <!-- Menu Toggle Button -->
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <!-- The user image in the navbar-->
    <img src="/static/img/person.png" class="user-image" alt="User Image">
    <!-- hidden-xs hides the username on small devices so only the image appears. -->
    <span class="hidden-xs">{{ .Userinfo.Name}}</span>
  </a>
  <ul class="dropdown-menu">
    <!-- The user image in the menu -->
    <li class="user-header">
      <img src="/static/img/person.png" class="img-circle" alt="User Image">
      <p>
        {{ .Userinfo.Name}}
        <small>Created on {{ .Userinfo.Created.Format "Jan 02, 2006" }}</small>
      </p>
    </li>

    <!-- Menu Footer-->
    <li class="user-footer">
      <div class="pull-left">
        <a href="{{urlfor "ProfileController.Get"}}" class="btn btn-default btn-flat">Profile</a>
      </div>
      <div class="pull-right">
        <a href="{{urlfor "LoginController.Logout"}}" class="btn btn-default btn-flat">Sign out</a>
      </div>
    </li>
  </ul>
</li>
