<!DOCTYPE html>
<html>
	<head>
		{{template "common/header.html" .}}
		{{template "head" .}}
	</head>
  <body class="hold-transition skin-blue layout-top-nav">
  <div class="wrapper">
    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="{{urlfor "MainController.Get"}}" class="navbar-brand"><b>OpenVPN</b>Admin</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            {{ template "common/header-top-menu.html" . }}
          </div>
          <!-- /.navbar-collapse -->
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!--template "common/header-notifications.html" . -->
              {{ template "common/header-account-menu.html" . }}
            </ul>
          </div>
          <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
        {{ template "common/header-top-navigation.html" . }}


      <!-- Main content -->
      <section class="content">
        {{ template "body" . }}
      </section>

	{{template "common/footer.html" .}}
	</body>
</html>